*{
  padding:0;
  margin: 0;
  border: none;
  box-sizing: border-box;
}

@font-face {
  font-family: family1;
  src: url(font/Inter-Regular.woff2);
}

@font-face {
  font-family: main;
  src: url(font/Inter-SemiBold.woff2);
}

@font-face {
  font-family: family2;
  src: url(font/roboto-regular.woff2);
}

html,body{
  width: 100%;
  font-family: main;
  background-color: #f1f3f6;
  font-weight: 400;
  font-size: 14px;
  line-height: 19.6px
}

.whole{
  width: 100%;
}

.header-div{
  padding-bottom: 56px;
  min-width: 978px;
  position: relative;
}

header{
  position: fixed;
  display: flex;
  width: 100%;
  height: 56px;
  background-color: #2874f0;
  color: #f0f0f0;
  z-index: 10;
}

.header-spacer{
  min-width: 124px;
  height: 100%;
}

.header-div-inner{
  display: flex;
  height: 100%;
  width: 100%;
  max-width: 1248px;
  margin: 0 auto;
}

.flipkart-logo{
  min-width: 137px;
  display: flex;
  justify-content: flex-end;
}

.flipkart-logo-inner
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

.flipkart-logo-inner a{
  text-decoration: none;
  color: white;
}

#flipkartlogo{
  display: block;
  width: 75px;
}

#under-logo{
  font-size: 11px;
  font-style: italic;
  margin-top: -1px;
}

#underlogo2{
  color: #ffe500;
  margin-right: 2px;
}

#underlogo3{
  width: 10px;
  height: auto;
}

.search-field{
  display: flex;
  min-width: 304px;
  justify-content: flex-start;
  margin: 0 auto 0 12px;
  align-items: center;
  width: calc(100% - 540px);
  height: 100%;
}

.search-bar{
  display: inline-block;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.23);
  width: 100%;
  height: 36px;
  max-width: 564px;
  position: relative;
}

.searchbar-inner{
  display: flex;
  flex: auto;
  justify-content: space-between;
  border-radius: 2px;
  background-color: white;
  width: 100%;
}

.searchbar-inner-part1{
  position: relative;
  display: inline-block;
  width: 100%;
}

#search_input{
  padding: 0 16px;
  border-radius: 2px 0 0 2px;
  border: 0;
  outline: 0 none;
  font-size: 14px;
  height: 36px;
  width: 100%;
}

.searchbar-inner-part2{
  border: 1px solid white;
  background-color: white;
  height: 36px;
  width: 44px;
  border-radius: 2px;
  padding: 4px 12px 0 8px;
}

#searchlense{
  width: 20px;
  height: 20px;
}

.login-field{
  min-width: 112px;
  align-items: center;
  flex: 0 0 auto;
  margin: 0 20px;
  max-width: 150px;
  justify-content: flex-end;
  display: flex;
}

.login-field-inner{
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: white;
}

#logindef{
  color: #2874f0;
  font-weight: 500;
  background-color: white;
  border-radius: 2px;
  padding: 5px 40px;
  border: 1px solid #dbbddb;
  position: relative;
  text-decoration: none;
}

.head-item{
  flex: 0 0 auto;
  margin: 0 20px;
  max-width: 150px;
  justify-content: flex-end;
  display: flex;
}

#first-li{
  display: flex;
  align-items: center;
  text-decoration: none;
  font-weight: 500;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.1px;
  color: white;
  position: relative;
}


.head-item-inner{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  line-height: 20px;
  font-size: 16px;
  letter-spacing: 0.1px;
  font-weight: 500;
  color: white;
}

#secondlidef{
  display: inline-block;
  position: relative;
  overflow: hidden;
  white-space: nowrap;
  max-width: 108px;
}

#secondlidef_downarrow{
  margin: 1px 0 0 8px;
  transform: rotate(270deg);
  width: 4.7px;
  height: 8px;
  overflow: hidden;
}

#cartlogo{
  width: 16px;
  height: 16px;
  margin: 0 8px;
}

.section-div{
  position: relative;
  min-height: 40px;
  width: 100%;
  z-index: 6; 
}

.nav-items{
  background-color: white;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.16);
}

.nav-item-inner{
  display: flex;
  align-items: center;
  max-width: 1248px;
  justify-content: space-between;
  height: 40px;
  margin: auto;
  position: relative;
}

#nav-list-item{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-grow: 1;
  font-weight: 500;
  height: 100%;
  font-size: 14px;
  line-height: 1.4;
}

#nav-list-item img{
  margin-left: 8px;
  transform: rotate(270deg);
  width: 4.7px;
  height: 8px;
}

.nav-item-inner > :last-child img{
  display: none;
}

.nav-item-inner > :nth-last-child(2) img{
  display: none;
}

.main-body{
  margin: 0 auto;
  min-width: 978px;
  max-width: 1680px;
  padding: 8px;
  width: 100%;
  position: relative;

}

.main-body-inner{
  display: flex;
  flex-flow: row;
}

.left-main{
  flex: 0 0 280px;
  max-width: 280px;
  padding: 0px 10px 0px 0px;
  flex-flow: column;
  display: flex;
  width: 16.66%;
}

.left-main-inner{
  display: flex;
  flex-flow: column;
  width: 100%;
}

.left-main-content{
  display: block;
  width: 100%;
}

.left-main-inner-first{
  position: relative;
  background-color: white;
  box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.6);
}

.filtersec{
  padding: 16px;
  padding-bottom: 12px;
  border-bottom: 1px solid #f0f0f0;
}

.filtersec-in{
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  text-transform: capitalize;
  width: 67%;
  font-weight: 500;
  letter-spacing: 0.3px;
}

.pricefilterarea{
  position: relative;
  max-height: 104px;
  overflow: hidden;
}

.pricefilterare{
  margin: 8px 0 0 -4px;
}

.area-elm{
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  background-color: #e0e0e0;
  box-shadow: 0 2px 4px 0 hsla(0, 0%, 100%, 0.5);
  border-radius: 3px;
  margin: 2px 4px;
  overflow: hidden;
  transition: background-color 0.1s;
  max-width: 200px;
  padding: 8px;
}

.forxbutton{
  display: inline-block;
}

.forelmentarea{
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  vertical-align: bottom;
  margin-left: 8px;
  max-width: 90%;
  display: inline-block;
}

.categorysec{
  font-size: 14px;
}

.categorysec-in{
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}

.categorysec-first{
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 5px
}

.categorysec-second{
  padding: 5px 0;
  color: #212121;
  white-space: nowrap;
}

#mobileleftarrow{
  display: inline-block;
  margin-right: 5px;
  width: 10px;
  height: 10px;
}

#mobilenacc{
  color: #878787;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  font-size: 14px;
  font-weight: 400;
  font-family: family2;
}
.categorysec-third{
  padding: 5px 0;
  color: #212121;
  white-space: nowrap;
}

#mobiledef{
  font-weight: 500;
  width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: inherit;
  margin-left: 15px;
}

.pricesec{
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
}

.pricesec-part1{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

#pricedef{
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  display: inline-block;
}

.pricesec-part2{
  height: 25px;
}

.range-field{
  height: 100%;
  position: relative;
  bottom: -6px;
  margin-left: 4px;
}

.range-units{
  height: 25px;
  width: 47.362px;
  background: #e0e0e0;
  display: inline-block;
  margin-left: -4px
}

.scale{
  position: relative;
  height: 13px;
}

.start-point{
  transform: translateX(0px);
  left: -13.5px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: -3.5px;
  transition: translate 0.5s ease-out;
}

.point-inner{
  right: 0;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 1px solid #bababa;
  position: absolute;
  background-color: #fff;
  top: 3.5px;
}

.end-point{
  transform: translateX(-1.19px);
  right: -5px;
  display: inline-block;
  position: absolute;
  z-index: 1;
  width: 20px;
  height: 20px;
  top: -3.5px;
  transition: translate 0.5s ease-out;
}

.meter-small-line{
  background-color: #c2c2c2;
  height: 2px;
  display: inline-block;
  position: absolute;
  top: 6px;
  width: 100%;
}

.meter-line{
  transform: translate(0px) scaleX(0.995);
  background-color: #2874f0;
  transform-origin: left center;
  top: 4px;
  height: 6px;
  display: inline-block;
  position: absolute;
  width: 100%;
}

.dot-scale{
  margin-top: -8px;
}

.dot-units{
  width: 42.5px;
  display: inline-block;
  text-align: left;
  content: "/00B7";
  color: #c2c2c2;
  font-size: 20px;
}

.dot-scale > :last-child{
  width: 0px;
}

.pricesec-part4{
  color: #a3a3a3;
  font-size: 14px;
  margin: 5px -4px 0;
  display: flex;
  align-items: center;
  justify-content: stretch;
}

.minsec{
  display: inline-block;
  flex-grow: 2;
}

.minsec-inner{
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  appearance: none;
  background: #fff url(img/left-main/minsec-background.svg) no-repeat 90% 50%;
  height: 24px;
  font-size: 14px;
  color: #212121;
  line-height: 14px;
  padding: 0 5px;
  outline: none;
}

.minoption{
  padding: 0 7px;
  font-family: family1;
}

.tosec{
  display: inline-block;
  margin: 0 9px;
  font-size: 14px;
  color: #878787;
  line-height: 14px;
  flex: 1;
  text-align: center;
}

.maxsec{
  display: inline-block;
  margin-left: 1.5px;
  flex-grow: 2;
}

.maxsec-inner{
  width: 100%;
  border: 1px solid #e0e0e0;
  border-radius: 1px;
  appearance: none;
  background: #fff url(img/left-main/minsec-background.svg) no-repeat 90% 50%;
  height: 24px;
  font-size: 14px;
  color: #212121;
  line-height: 14px;
  padding: 0 5px;
  outline: none;
}

.maxoption{
  padding: 0 7px;
  font-family: family1;
}

.brandsec{
  padding: 16px;
  position: relative;
}

.brand-header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  margin: -16px;
}

.brand-def{
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  display: inline-block;
  width: 95%;
}

#brand_arrow{
  transform: rotate(90deg);
  display: inline-block;
  width: 6px;
  height: 11px;

}

/* .brand-body-main{

}

.brand-body-foot{

} */

.assuredsec{
  display: flex;
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;

}

.ratingsec{
  padding: 16px;
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}

.left-main-inner-second{
  text-align: center;
  padding-top: 30px;
  display: block;
  text-decoration: none;

}

.right-main{
  flex-grow: 1;
  overflow: auto;
  flex-flow: column;
  display: flex;
}

.right-main-head{
  background-color: rgb(255, 255, 255);
  align-items: flex-end;
  flex-flow: row;
  display: flex;
  width: 100%; 
}

.right-main-head-in{
  flex-grow: 1;
  overflow: auto;
  display: block;
}

.right-main-head-inner{
  background: #fff;
  padding: 12px 16px 0;
  border-bottom: 1px solid #f0f0f0;
  height: 100%;
  min-height: 72px;
}

.page-path{
  font-size: 12px;
  color: #878787;
  display: inline-block;
}

#pathway{
  text-decoration: none;
  max-width: 80px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: inline-block;
  vertical-align: middle;
  color: rgb(135, 135, 135);
  font-size: 12px;
  font-family: family2;
}

#patharrow{
  height: 7px;
  width: 20px;
  transform: rotate(180deg);
  vertical-align: middle; 
}

.right-head-second{
  font-weight: 500;
  font-size: 16px;
  margin-top: 8px;
  display: inline-block;
}

.sortspan{
  border-bottom: 2px solid transparent;
  display: inline-block;
  font-weight: 500;
  padding: 8px 10px 4px 0;
}

.sortitems{
  padding: 8px 0 4px;
  margin: 0 10px;
  border-bottom: 2px solid transparent;
  display: inline-block;
  font-family: family2;
  cursor: pointer;
}

.selected-sort{
  color: #2874f0;
  border-bottom: 2px solid #2874f0;
  font-weight: 500;
}

.right-main-elem{
  display: block;
  width: 100%;
}

.right-main-elemin{
  display: flex;
  align-items: stretch;
  background: white;
  background-color: white;
}

.right-main-elem-inner{
  width: 100%;
}

.right-main-elem-div{
  line-height: 14px;
  padding: 24px 0 30px 24px;
  display: block;
  position: relative;
  border-bottom: 1px solid #f0f0f0;
}

.right-main-elem-link{
  display: flex;
  position: relative;
  text-decoration: none;
}

.elem-left{
  position: relative;
  width: 200px;
}

.elem-left-first{
  position: relative;
  display: block;
}

.elem-left-first-inner{
  height: 200px;
  width: 200px;
  position: relative;
  margin: 0 auto;
}

#mobilepic{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  top: 0;
  margin: auto;
  opacity: 1;
  max-width: 100%;
  max-height: 100%;
}

.elem-left-second{
  display: block;
  margin-top: 16px;
}

.elem-left-second-in{
  vertical-align: middle;
}

.forbox{
  display: inline-block;
}

.boxlabel{
  width: 100%;
  position: relative;
  display: block;
}

.forcompinput{
  position: relative;
  width: 14px;
  height: 14px;
  background-color: transparent;
  border: 1.4px solid #c2c2c2;
  display: inline-block;
  vertical-align: middle;
  cursor: pointer;
}

.forcompare{
  vertical-align: middle;
  margin-left: 8px;
  font-size: 14px;
  color: #212121;

}

.elem-left-third{
  position: absolute;
  display: inline-block;
  top: 2px;
  right: -8px;
  cursor: pointer;
}

.elem-left-third-in{
  position: relative;
  display: inline-flex;
}

.elem-left-third-in img{
  width: 16px;
  height: 16px;
}

.elem-right{
  padding-left: 25px;
  width: calc(100% - 200px);
  display: flex;
  flex-flow: row wrap;
}

.elem-right-left{
  width: 58.33%;
  display: inline-block;
  vertical-align: top;
}

.name-field{
  color: black;
  font-weight: 500;
  font-size: 18px;
  display: block;
}

.rating-field{
  margin-top: 6px;
}

#starrating{
  position: relative;
}
.star-rating-inner{
  line-height: normal;
  display: inline-block;
  color: #fff;
  padding: 2px 4px 2px 6px;
  border-radius: 3px;
  font-weight: 500;
  font-size: 12px;
  vertical-align: middle;
  background-color: #388e3c;
}

.star-rating-inner img{
  margin: 2px 0 0 2px;
  height: 10px;
  text-decoration: none;
}

#ratingnreview{
  padding-left: 8px;
  font-weight: 500;
  color: #878787;
}

#ratingand{
  color: #878787;
}

.spec-field{
  margin-top: 13px;
}

.specfieldinner{
  margin-top: 5px;
  color: #212121;
  line-height: 22px;
  display: table;
}

#specitems{
  display: table-row;
  list-style: none;
}

#specitems::before{
  content: "•";
  color: #c2c2c2;
  padding-right: 8px;
  display: table-cell;
}

.elem-right-right{
  padding-left: 25px;
  width: 41.66%;
  display: inline-block;
  vertical-align: top;
}

.elem-right-right-first{
  display: inline-block;
  margin-top: -1px;
  padding-right: 10px;
}

.pricearea{
  font-size: 25px;
  display: block;
  font-weight: 500;
  color: #212121;
}

.mrparea{
  padding-top: 10px;
  margin-left: 0;
  display: inline-block;
  text-decoration: line-through;
  font-size: 14px;
  color: #878787;
}

.aboutoffer{
  color: #388e3c;
  font-size: 13px;
  letter-spacing: -0.2px;
  font-weight: 500;
  display: inline-block;
  margin-left: 8px;
}

.aboutdelivery{
  margin: 6px 0 0;
  font-size: 14px;
  line-height: 16px;
}

.aboutdelivery-inner{
  color: rgb(0, 0, 0);
  font-size: 12px;
  font-weight: 400;
  display: inline-flex;
  white-space: pre-wrap;
}

.elem-right-right-second{
  display: inline-block;
  vertical-align: top;
  font-size: 0;
  margin-left: 0;
}

.elem-right-right-second img{
  height: 21px;
}

.elem-right-right-third{
  margin-top: 5px;
}

.elem-right-right-third-inner{
  display: inline-block;
}

#saverdeal{
  color: rgb(112, 72, 198);
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  display: inline-flex;
  vertical-align: middle;
  white-space: pre;
}


